.dashboard-page {
  background: white;

  .chart-section {
    margin: 20px;
    .chart-choose {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .chart-choose-r button {
      border: none;
      padding: 0 10px;
    }
    .areachart {
      margin: 10px 40px 0 0;
    }

  }

  .dashboard-middle {
    height: 20px;
    background: rgb(240, 242, 245);
  }

  .table-section {
    margin: 20px;
  }
}
