.dashBoard-page{
  background: white;
}
.chart{
  margin:20px;
}
.chart-choose{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.chart-choose-r button{
  border:none;
  padding:0 10px;
}
.dashboard-middle{
  height: 20px;
  background: rgb(240, 242, 245);
}
.table-box{
  margin:20px;
}