.profile-page{
  padding:32px;
  line-height: 30px;
  font-size:16px;
  .title-box{
    .title{
      display:inline-block;
      font-size: 18px;
      font-weight: bold;
      margin:0 20px 20px 0;
    }
    .btn{
      font-size:14px;
    }
  }
.profile-label{
  display:inline-block;
  width:80px;
  margin-bottom:10px;
}
}
.team-page{
  .profile-page;
  .table-section{
    margin:50px 0 0 0;
  }
  .alert,.table{
    width:60vw;
    margin-bottom:20px;
  }
}
