.flex-row {
  display: flex;
  flex-direction: row;
}

.max-1020 {
  max-width: 1020px;
}

.homepage {
  .container {
    .start-box {
      background: #092943;
      color: white;
      padding: 10px 0 50px 0;
      .start {
        .flex-row;
        .max-1020;
        margin: 0 auto;
        justify-content: space-between;
        .start-l {
          margin: auto 10px;
          width: 48%;
          p {
            margin-bottom: 0;
          }
          .p1 {
            color: white;
            font-size: 56px;
            border-bottom: 1px solid #d2d2d2;
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          .p2 {
            font-size: 18px;
            color: #f3f3f3;
            line-height: 32px;
          }
          button{
            margin: 30px 15px 0 0;
            height: 38px;
            font-size: 16px;
          }
          .start-btn {
            background: #36ac60;
            border-color: #36ac60;
            color: white;
          }
        }
        .start-r {
          width: 48%;
          img{
            width:100%;
          }
        }
        @media (max-width: 768px){
          display: flex;
          flex-direction: column;
          .start-l{
            width:80%;
            margin:0 auto;
          }
          .start-r{
            width:80%;
            margin:0 auto;
          }
        }
      }
    }

    .feature {
      .max-1020;
      margin: 0 auto;
      .flex-row;
      justify-content: space-between;
      padding: 50px 0 20px 0;
      .feature-1 {
        width: 30%;
        text-align: center;
        position: relative;
        &:after {
          content: "";
          height: 210px;
          width: 2px;
          position: absolute;
          top: 45px;
          right: -20px;
          background-color: #e5e5e5;
        }
        h4 {
          color: #2760d2;
          font-size: 20px;
        }
        p {
          margin-top: 30px;
        }
      }
      .feature-1:last-child {
        &:after {
          background: white;
        }
      }
    }
  }
}
