.default-logo {
  height: 64px;
  background: rgb(11, 46, 81);
  h1 {
    color: white;
    line-height: 64px;
    text-align: center;
  }
}

.default-header {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.default-sider {
  height: 1000px;
}

.default-header-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  i,.default-avatar,.default-user-name {
    margin-left: 10px;
  }
}
.default-content {
  margin: 32px;
  background: white;
}
